@using Microsoft.AspNetCore.Identity
@using BearMountain.Models
@model BearMountain.Models.Product

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}


<body>

    <h2>@Html.DisplayFor(model => model.Name)</h2>


    <dl class="products">
        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="~/assets/@Html.DisplayFor(model => model.Image)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <form method="post">
        <label for="quantity"></label>
        <input asp-route-data="quantity" name="quantity" type="number" />
        <input type="hidden" name="userName" value="@SignInManager.UserManager.GetUserName(User)" />
        <button type="submit">Add to Cart</button>
    </form>
    <a asp-action="Index">Back to Products</a>

</body>
