@using Microsoft.AspNetCore.Identity
@using BearMountain.Models

@model IEnumerable<BearMountain.Models.Product>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<header>
    <h2>Products</h2>
</header>

@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("ItemsInCart", @SignInManager.UserManager.GetUserName(User))
}


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img class="product" src="~/assets/@Html.DisplayFor(modelItem => item.Image)" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
